ANTHROPIC_API_KEY=sk-ant-...
PORT=3001
CLIENT_ORIGIN=http://localhost:5173
SECRETS_KEY=xZ7mRP26aGa7UVC_Plt3R_hvYaVHytargomhSavzE0dQVsFudSKAbCEKDDs24luwcUWT3BlbkFJgXQ5nRpYvG-bI1-zR1Nxc1DBTYLY6bOZ3V-y2JW_HNg3YrasnuyS2U2tRJvd0C8XmEE4mmS2AA
